<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
</head>
<body>
<h1>Pagina Principal del Sitio Biblioteca</h1>
<h2>Seccion No 1</h2>
<h6>Subtitulo</h6>
<p>Es un parrafo</p>
<p>Hola Muchachos</p>
<p>Aprendiendo Html</p>

<a href="http://google.com.co">Ingrese a google ---- </a>
<div style="background-color:green;"><p>Parrafo dentro del div</p></div>
<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/250px-HTML5_logo_and_wordmark.svg.png"></div>
<div><input type="number"/><input type="submit"></div>
</body>
</html>